{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
   <title>TODO Tracker-edit</title>
   
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width,initial-scale=1">

   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
   <link rel="stylesheet" href="{% static 'css/todo.css' %}"> 
   
</head>
<body>
   <div class="container">
	<h1>Edit a TODO</h1>
	<hr>
	<div class="row">
		<div class="col-sm-4" >
		   <form method="POST" class="todo-form">{% csrf_token %}
       			 {{ form.as_p }}
       			<div align="right"> <button type="submit" class="save btn btn-success">Save</button> </div>
   		   </form>
		   
		</div>
	</div>
	<hr>

	<div align="right">

	   <p>
	   <a href="{% url 'todo_list' %}" class="top-menu"><span class="glyphicon glyphicon-arrow-left"></span> back to front page </a> | 
	   <a href="{% url 'todo_impressum' %}" class="top-menu"> Impressum </a>
	   </p>
	</div>
   </div>
